.banner{
    background-color: rgb(196, 255, 237);
    color: rgba(0, 47, 255, 0.875);
    text-align: center;
    padding: 3em;
}
.banner__titulo{
    font-size: 30px;
    font-weight: 700;
    padding: 1em;
}

.banner__texto{
    font-size: 18px;
    font-weight: 900;
    margin: 1em 0;
    text-align: center;
}
.banner__pesquisa{
       background-color:transparent;
       border: 1px solid white;
       border:50%;
       color:white     ;       }